# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# VS Code
.vscode/

# Logs
logs/

# Backup files
backups/

# SQLite database
database/*.db

# Qt generated cache
*.qmlc
*.jsc

# Generated reports
*_report_*.pdf
*_report_*.xlsx
work_orders.pdf
work_orders.xlsx
technician_performance.pdf